<header class="app-header">
    <div class="app-header-inner">
        <button class="app-toggler" type="button" aria-label="app toggler">
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M7.66699 12.6668L3.66699 8.00016L7.66699 3.3335" stroke="#1C274C" stroke-width="1.75"
                    stroke-linecap="round" stroke-linejoin="round" />
                <path opacity="0.5" d="M12.667 12.6668L8.66699 8.00016L12.667 3.3335" stroke="#1C274C"
                    stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
        </button>

        <div class="app-header-end">
            <div class="vr my-3"></div>
            <div class="dropdown text-end ms-sm-3 ms-2 ms-lg-4">
                <a href="#" class="d-flex align-items-center py-2" data-bs-toggle="dropdown"
                    data-bs-auto-close="outside" aria-expanded="true">
                    <div class="text-end me-2 d-none d-lg-inline-block">
                        <div class="fw-bold text-dark js-business-name"></div>
                    </div>
                    <div class="avatar avatar-sm rounded-circle avatar-status-success">
                        <i class="fa-regular fa-user"></i>
                    </div>
                </a>
                <ul class="dropdown-menu dropdown-menu-end w-225px mt-1">
                    <li class="d-flex align-items-center p-2">
                        <div class="avatar avatar-sm rounded-circle">
                            <i class="fa-regular fa-user"></i>
                        </div>
                        <div class="ms-2">
                            <div class="fw-bold text-dark js-business-name"></div>
                        </div>
                    </li>
                    <li>
                        <div class="dropdown-divider my-1"></div>
                    </li>
                    <li>
                        <a class="dropdown-item d-flex align-items-center gap-2 text-danger" href="/api/auth/logout">
                            <i class="fa-solid fa-user"></i> Log Out
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>

<script type="module">
    import { businessName } from '/generic.js';

    // Fill all business name placeholders
    document.querySelectorAll('.js-business-name')
        .forEach(el => el.textContent = businessName);

    // Current year (footer)
    document.querySelectorAll('.currentYear')
        .forEach(el => el.textContent = new Date().getFullYear());
</script>